  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" data-id={{list.id}}>{{list.place_name}}</h3>
    </div>
    <div class="panel-body">
      <div>
          Name: {{list.place_name}}
      </div>
      <div>
          Address: {{list.address}}
      </div>
      <div>
          Description: {{list.description}}
      </div>
      <div>
        {{#if list.place_name}}
          Name: {{list.place_name}}
        {{else}}
          Nothing here yet.
        {{/if}}
      </div>
      <button class="list-delete btn btn-danger entry-delete-button" class="entry-delete-button" data-id={{list.id}}>
        Delete
      </button>
      <button type="button" class="list-update btn btn-info entry-update-button" data-id={{list.id}}>
      Update
      </button>

    </div>
  </div>
